body{
    background-color: rgb(68, 1, 132);
    color: white;
    text-align: center;
    
}
section{
    display: flex;
    text-align: center;
    justify-content: center;
}
div.main{
    background-color: white;
    width: 300px;
    color: black;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
    padding: 20px;
}
.child1{
    text-align: justify;
    padding-bottom: 10px;
}
fieldset{
    height: 300px;
    text-align: justify;
    margin: 12px;
}
li{
    list-style-type: none;
    font-size: 20px;
}
span{
    opacity: 0;
}